<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">
            Haftanın Yemeği {{ yemekler[0].tag}}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ yemekler[0].title}}</h5>
            <p class="card-text"> {{ yemekler[0].description }}</p>
            <p class="card-text"> {{ yemekler[0].date }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let yemek of yemeklerOther;"> {{ yemek.date }} {{ yemek.title }} </li>
            </ul>
        </div>
    </div>
</div>